<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- INDISPENSABLE. Flutter n'ajoute cette permission qu'aux manifestes
         debug/ et profile/ automatiquement, JAMAIS au manifeste principal. Sans
         cette ligne, le build RELEASE n'a aucun accès réseau : ni collecte, ni
         agent, ni résolution de commune. Le bug est invisible en debug (où la
         permission est injectée), et n'apparaît que sur le vrai livrable.
         Constaté le 23/07/2026 : recherche de commune muette en release. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Android 13+ exige une permission explicite pour notifier. Refusée, la
         collecte tourne quand même : elle est simplement muette. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- allowBackup="false" : l'application détient des secrets (clés LLM,
         identifiants France Travail) dans le Keystore, et tout l'historique de
         candidatures. Android sauvegarde par défaut les shared_prefs, ce qui
         ferait sortir le fichier chiffré de l'appareil. Il resterait
         indéchiffrable sans le Keystore (non exportable), mais autant ne pas
         l'exposer du tout. La sauvegarde volontaire passe par l'export JSON de
         l'onglet Suivi, qui lui ne contient aucun secret.
         dataExtractionRules couvre Android 12+ (transfert d'appareil à
         appareil), fullBackupContent les versions antérieures. -->
    <application
        android:label="Candid"
        android:name="${applicationName}"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Cible de partage : c'est LA porte d'entrée du produit. Depuis
                 l'application LinkedIn ou Indeed, ou depuis le navigateur sur une
                 offre WTTJ, « Partager » puis « Candid » transmet directement le
                 texte et l'URL de l'offre. Cela remplace le scraping (impossible
                 sur mobile) et le copier-coller manuel du texte des pages
                 dynamiques, dont l'extraction par URL revient vide.

                 launchMode="singleTask" est celui que demande le plugin
                 receive_sharing_intent : avec singleTop, un partage reçu
                 pendant que l'application est en tâche de fond peut ouvrir
                 une seconde instance et perdre l'intent. À confirmer sur
                 appareil réel (critère d'acceptation de l'étape 2). -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Android 11+ : sans ces déclarations, url_launcher ne « voit » pas
             les applications capables d'ouvrir un mail, un appel ou un lien,
             et les boutons de contact des entreprises resteraient inertes.
             On déclare l'intention de les ouvrir, jamais d'envoyer : c'est
             l'utilisateur qui rédige et qui envoie. -->
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
